<a href="https://colab.research.google.com/github/aj7764/RA2112704010009/blob/main/pps_github.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (1.1.5)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.7/dist-packages (from pandas) (1.19.5)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

In [ ]:
import pandas as pd
import numpy as np

exam_data  = {'name': ['Shirley', 'Dima', 'Kath', 'Ross', 'Jiya', 'Joe', 'Dev', 'Panchal', 'Riya', 'Jonas'],
        'score': [13, 11, 16, np.nan, 9, 10, 15, np.nan, 13, 12],
        'attempts': [1, 2, 3, 1, 2, 3, 1, 1, 2, 3],
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df = pd.DataFrame(exam_data , index=labels)
print(df)

      name  score  attempts qualify
a  Shirley   13.0         1     yes
b     Dima   11.0         2      no
c     Kath   16.0         3     yes
d     Ross    NaN         1      no
e     Jiya    9.0         2      no
f      Joe   10.0         3     yes
g      Dev   15.0         1     yes
h  Panchal    NaN         1      no
i     Riya   13.0         2      no
j    Jonas   12.0         3     yes

In [ ]:
df = pd.DataFrame(exam_data , index=labels)
print("Number of attempts in the examination is greater than 2:")
print(df[df['attempts'] > 2])

Number of attempts in the examination is greater than 2:
    name  score  attempts qualify
c   Kath   16.0         3     yes
f    Joe   10.0         3     yes
j  Jonas   12.0         3     yes

In [ ]:
df = pd.DataFrame(exam_data , index=labels)
print("\nSum of the examination attempts by the students:")
print(df['attempts'].sum())

Sum of the examination attempts by the students:
19

In [ ]:
print(df['score'].mean())

12.375

In [ ]:
print(list(df.columns.values))

['name', 'score', 'attempts', 'qualify']